#map {
    width: 100%;
    height: 400px;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}
.img-prev{
    padding: 10px;
    border: dashed 2px #ddd;
    margin-top: 10px;
    text-align: center;
    position: relative;
}
.img-prev h1{
    color: #ddd;
}
.btn-reset-preview{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0px;
}
.thumb-profile{
    height:100px;
}
.tbl_member_detail{

}
.tbl_member_detail td{
    padding: 5px;
}
.tbl_member_detail td.caption{
    font-weight: bold;
}
#preloader h2{
    color: #665;
    text-align: center;
    margin-top: 427px;
}
.js{
    position: relative;
}
.js div#preloader { position: absolute; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background:url('http://loading.io/assets/img/ajax.gif') no-repeat center 200px;background-color:rgba(255,255, 255, 0.8);}