 
@media print {
 
  /*#content, #page {
    width: 100%; 
    margin: 0; 
    float: none;
  }*/
  
  @page { margin: 2cm }

  body {
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
  }

  h1 {
    font-size: 24pt;
  }

  h2, h3, h4 {
    font-size: 14pt;
    margin-top: 25px;
  }    
 
  a {
    page-break-inside:avoid
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
    page-break-inside:avoid }
    img { page-break-inside:avoid; 
      page-break-after:avoid; }
      table, pre { page-break-inside:avoid }
      ul, ol, dl  { page-break-before:avoid }
 
      a:link, a:visited, a {
        background: transparent;
        color: #520;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
      }

      a {
        page-break-inside:avoid
      }

      a[href^=http]:after {
        content:" <" attr(href) "> ";
      }

      $a:after > img {
        content: "";
      }

      article a[href^="#"]:after {
        content: "";
      }

      a:not(:local-link):after {
        content:" <" attr(href) "> ";
      } 
      p, address, li, dt, dd, blockquote {
        font-size: 100%
      }
 
      code, pre { font-family: "Courier New", Courier, mono}

      ul, ol {
        list-style: square; margin-left: 18pt;
        margin-bottom: 20pt;    
      }

      li {
        line-height: 1.6em;
      }    

      /** COSTUME ***/

      table {
            font-size: 12pt; font-family:'Times New Roman',Times,serif;
      }

      table tr > td {
          border:1px solid #DDD;
      }

       table tr > td > table {
          border:1px solid #9e9e9e;
          padding:0px;
      } 

      table tr > td > table tr > th {
          background-color: #fde0bc;
          border: 0px solid #fde0bc; 
      } 
      table tr > td > table tr > td {
          border:0px solid #DDD;
          background-color: #FFF;
      } 
      table tr > td > table tr > th > b{
          font-weight: 600;
          color:#757575;
      }
       table tr > td > table tr > td > span{
          color:#8a8585;
      }

      .table2 tr > td {
          border:1px solid #DDD;
      }

      .bordered-dashed {
          border-style: dashed;
          border-color: #c5c5c5;
          border-width: 1.5px;
          margin-top: 10px;
          margin-bottom: 10px;
      }

      th.rotate {  
        white-space: nowrap;
        padding-top: 99px;
        width: 12px;
      }

      th.rotate > div {
        transform: translate(1px, 5px) rotate(630deg);
         width: 12px;
      }
      th.rotate > div > span {
        border-bottom: 1px solid #ccc; 
         width: 12px;
      }

}

