
/*** CSS COSTUME WHILE BEFORE IN MINIFY ***/ 
       /* -----------------------------------------------
      Website Template Style
      Name     : TRANYAR - Created Web Design by Andri Cyber
      Author   : Andri Muhammad Fahmi
      Url      : https://zero-coding.blogspot.co.id/
      E-mail   : andrifahmi204@gmail.com;
      Updated by: Technical IT Suport Tranyar
      ----------------------------------------------- */ 
 
/***** STYLE COSTUME PAGE HOME ******/

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7 !important;
} 

.padding-0 {
  padding:0px;
}

.padding-12 {
  padding:21px;
}

.margin-0 {
  margin: 0px;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.padding-b-10 {
  padding-bottom: 10px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
 /* margin-bottom: 4rem;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {  
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
/*.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
*/

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.text-muted {
    color: #868e96!important;
}
.option-org {
    border: 2px solid #f96332;
    border-radius: 12px !important;
}
option {

    font-size: 16px;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 27px;
    padding: 0px 2px 1px;

}

.navbar-brand-img > img{
    width: 148px;
}

/*** Travel Search ***/

 .search-travel {
        padding:12px;
    }
    .seach-head {
      padding:2px;
    }

    .text-heading-epic {
        font-weight: 200;
        padding: 14px;
        font-size: 39px;
    }

/*** Travel Card ***/

.wrap-card {

}
.head-card {
  padding:11px;
}
.body-card {
  padding:12px;
}


.poster-card__date {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: #45494E;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0 0;
    margin-bottom: 6px;
}
.poster-card__title {
    display: block;
    display: -webkit-box;
    max-height: 38px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282C35;
    font-size: 15px;
    line-height: 19px;
    max-height: 50px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 0;
    height: 46px;
}
.poster-card__dex {
    display: block;
    display: -webkit-box; 
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282C35; 
    line-height: 19px;  
    letter-spacing: 0;
    padding: 0;
    height: 83px;
}
.poster-card .poster-card__body .poster-card__venue {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666A73;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    padding: 5px 0 0;
}


.poster-card .poster-card__footer {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-right: 80px;
    border-top: 1px solid #EFF2F5;
    padding-left: 15px;
}

.poster-card .poster-card__footer .poster-card__tags {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.poster-card .poster-card__footer .poster-card__actions {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    line-height: 38px;
}
.poster-card .poster-card__footer .poster-card__tags a {
    color: #45494E;
    font-size: 12px;
    margin-right: 10px;
    text-transform: capitalize;
}
.poster-card .poster-card__footer .poster-card__actions a, .poster-card .poster-card__footer .poster-card__actions span {
    display: inline-block;
    color: #666A73;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-left: 1px solid #EFF2F5;
    box-sizing: border-box;
    text-align: center;
} 

  .poster-card__label {
    background-color: rgb(249, 99, 50);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 2px 10px;
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
}

.gradient-white {
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 35%, rgba(255,255,255,0.95) 38%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 34%,rgba(255,255,255,1) 35%,rgba(255,255,255,0.95) 38%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 34%,rgba(255,255,255,1) 35%,rgba(255,255,255,0.95) 38%,rgba(255,255,255,0) 100%); 
}


.label-primary, .responsive-form .responsive-form__label--primary, .responsive-form label.responsive-form__label--primary, label.label-primary, .responsive-form label.responsive-form__label--primary {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #282C35;
    text-transform: uppercase;
}

.card-heading {
    padding:29px;
}

.card-content-right {
    padding:29px;
}

.card-content {
    padding:29px;
}

.listing-map-card {
    padding:29px;
}

.event {
    color:orange;
}
.padding-0 {
    padding:0px;
}
.summary-content { 
    background-color: #f4f4f4;
}


.listing-hero-title {
padding-bottom: 2px;
} 
  .listing-hero-title {
    display: block;
    display: -webkit-box;
    max-height: 125;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #282C35;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.5px;
    word-break: break-word;
}
.listing-hero-image--day {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25em;
    letter-spacing: 1px;

}
.listing-hero-image--month {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
        margin-top: 0;
    margin-bottom: 0rem;

}
.listing-hero__detailed-info a.listing-organizer-name {
    color: #666A73;
}

.label-primary  {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #282C35;
    text-transform: uppercase;
        margin-bottom: 4px;
}
.event-details-data {
    color:#867987;
}



.badge.badge--tag {
    background-color: #fff;
    background-color: transparent;
    color: #000;
    color: #000;
    border-color: #D2D6DF;
    border-width: 1px;
    border-style: solid;
    text-transform: capitalize;
}

.badge {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    background-color: #F8F8FA;
    color: #363A43;
    padding: 7px 10px 6px;
    vertical-align: text-bottom;
    line-height: 12px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
}

/** icon Share ***/
.grouped-ico {
    list-style-type: none;
    padding-left: 0;
}

.listing-info__footer .share-wrapper .grouped-ico--share-links li {
    margin-left: 0;
    margin-right: 5px;
}
 
.grouped-ico li {
    display: inline;
    list-style-type: none;
    margin-left: .15em;
}
.grouped-ico--share-links a {
    display: inline-block;
}

.eds-link, a {
    text-decoration: none;
    color: #007f8c;
}
/*** Listing Map ***/

.listing-map-card .listing-map-card-body .listing-map-card-title {
    color: #282C35;
    font-weight: 600;
    padding-bottom: 5px;
    line-height: 30px;
        font-size: 17px;
}
.text-header-inline-as-block {
    display: block;
} 
.text-body--faint, .timeline__description, .timeline__date-context, .timeline__date, .list-attendee__role {
    color: #666A73;
} 
.text-body--understated, .text-body--faint, .timeline__description, .timeline__date-context, .timeline__date, .list-attendee__role, .text-understated {
    font-weight: 400;
}

.text-body-medium, .g-cell, .timeline__content, .timeline__date, .timeline__indicator, .discount-ticket .discount-ticket-name, .discount-ticket .discount-ticket-price, .original-ticket-price, .list-person__name {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
.listing-map-card-street-address {
    color:#969696;
}
/*** Card Zone ***/

.img-zone {
padding:12px;
}
.content-zone {
padding:12px;s
}
.title-zone {
margin-bottom: 12px;
font-size: 15px;
    font-weight: 600;
}
.title-desk {
font-size: 15px;
line-height: 22px;
font-weight: 400;
}
.inline-link-list { 
    padding: 0;
    list-style-type: none;
}

.border-min-height {
  border:1px solid #DDD;min-height: 106px;
}

.img-block {
  height: auto; width: auto; display: block;
}

/*** Member Areas ***/

/** OSIS **/

/*** COSTUME STILE PAGE MEMBERAREAS ***/

/** OSIS **/

/*** Member Areas ***/


body {
  background: #F1F3FA;
}


.bg-orange {
  background: #DDD;
}
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
   padding: -1px 0 10px 0;
  background: #fff;
}

.profile-userpic {
  padding:15px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #f96332 !important;
    border-color: #f96332 !important;
}
.profile-usertitle {
  text-align: center;
  margin-top: 10px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.nav-menu-profile > .active a{
  color:#DDD;
}
     

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}


.uplod-picture {
  padding:15px;
} 

/*** Time Line ***/

.border-map {
  border-top:1px solid #eee;
}

.border-timline {

  border-top:1px solid #eee;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
 

 .head-timeline h2 {
       /* padding-bottom: 0px; */
    font-size: 22px;
    font-weight: 200;
    color: #f96332;
 }

 .head-timeline h3 {
      margin-top: 2px;
    font-size: 15px;
    font-weight: 200;
    color: #655b5b;
 }

 .head-timeline  h4 {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 200;
    color: #a0a0a0;
 }

 .timeline-title {
    color:#777 !important;
    font-weight: bold !important;
     margin-bottom: 0px; 
 }

 .opsional-tour {
  font-size:12px;
  color:#DDD;
 }

 .table-timline tr > td {
   font-size: 16px;
   color:#777;
 }

 .formpayment-confirm {
    padding:21px;
 }
 .kc-summary-item {
  padding:9px;
 }
 .kc-summary-item-text { 
    margin: 0px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    font-size: 14px !important;
    font-weight: 600;
 }
 .text-orange {
  color:#f96332;
 }

 .label-default {
    margin-left:5px;
    background-color: #777;
} 
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.border-b  {
  border:1px solid #eee;
}
.profile-page .title {
    text-align: center;
    margin-top: -10px !important;
}

.search__form .fa {
    position: absolute;
    right: 20px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    text-align: center;
}

.bordered-left {
  border-left: 1px solid #DDD;
}

.pull-left {
  float:left !important;
}

.pull-right {
  float:right !important;
}

.hr-xs {
    margin-bottom: 6px;
    margin-top: 10px; 
}
 .text--medium {
  font-size:10px;
} 


@media (min-width: 1200px) {
  .container-x {
      max-width: 1319px;
  } 
} 


.table-member tr > th {
  font-size: 13px;
}

.table-member tr > td {
  font-size: 13px;
}

 .table-detail-xs tr > td {
  font-size: 13px;
  padding:5px;
}

.bg-transparent {
  background:transparent !important;box-shadow: none !important
}

.margin-3 {
  margin:3px;
}



/************* STYLE BAGIAN 2 =====================================================================================================================================================================**/

.bordered-dashed {
      border-style: dashed;
    border-color: #c5c5c5;
    border-width: 1.5px;  
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.bg-gray {
  background-color:#f3f3f3;
}


.wrap-detailivent-left {
  padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 6px;
    margin-bottom: -19px;
}


.wrap-detailivent-right {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 6px;
  margin-bottom: -19px;
}

@media (min-width: 992px){
 .modal-lg {
      max-width: 990px;
  }
}

.table-member-listmodal tr > td {
  font-size: 14px;
  padding:12px;
}

 
/*** VISIBLE COSTUME ***/


.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.pull-right {
    float: right!important
}

.pull-left {
    float: left!important
}

.hide {
    display: none!important
}

.show {
    display: block!important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none!important
}

.affix {
    position: fixed
}

@-ms-viewport {
    width: device-width
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none!important
}

.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
    display: none!important
}

@media (max-width:767px) {
    .visible-xs {
        display: block!important
    }
    table.visible-xs {
        display: table!important
    }
    tr.visible-xs {
        display: table-row!important
    }
    td.visible-xs,
    th.visible-xs {
        display: table-cell!important
    }
}

@media (max-width:767px) {
    .visible-xs-block {
        display: block!important
    }
}

@media (max-width:767px) {
    .visible-xs-inline {
        display: inline!important
    }
}

@media (max-width:767px) {
    .visible-xs-inline-block {
        display: inline-block!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block!important
    }
    table.visible-sm {
        display: table!important
    }
    tr.visible-sm {
        display: table-row!important
    }
    td.visible-sm,
    th.visible-sm {
        display: table-cell!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-block {
        display: block!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline {
        display: inline!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline-block {
        display: inline-block!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
        display: block!important
    }
    table.visible-md {
        display: table!important
    }
    tr.visible-md {
        display: table-row!important
    }
    td.visible-md,
    th.visible-md {
        display: table-cell!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-block {
        display: block!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline {
        display: inline!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline-block {
        display: inline-block!important
    }
}

@media (min-width:1200px) {
    .visible-lg {
        display: block!important
    }
    table.visible-lg {
        display: table!important
    }
    tr.visible-lg {
        display: table-row!important
    }
    td.visible-lg,
    th.visible-lg {
        display: table-cell!important
    }
}

@media (min-width:1200px) {
    .visible-lg-block {
        display: block!important
    }
}

@media (min-width:1200px) {
    .visible-lg-inline {
        display: inline!important
    }
}

@media (min-width:1200px) {
    .visible-lg-inline-block {
        display: inline-block!important
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}

.visible-print {
    display: none!important
}

@media print {
    .visible-print {
        display: block!important
    }
    table.visible-print {
        display: table!important
    }
    tr.visible-print {
        display: table-row!important
    }
    td.visible-print,
    th.visible-print {
        display: table-cell!important
    }
}

.visible-print-block {
    display: none!important
}

@media print {
    .visible-print-block {
        display: block!important
    }
}

.visible-print-inline {
    display: none!important
}

@media print {
    .visible-print-inline {
        display: inline!important
    }
}

.visible-print-inline-block {
    display: none!important
}

@media print {
    .visible-print-inline-block {
        display: inline-block!important
    }
}

@media print {
    .hidden-print {
        display: none!important
    }
}


/*# sourceMappingURL=bootstrap.min.css.map */

.img-profile{

  cursor: pointer;

}

.faq-header{
  font-size: 2em;
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

.faq-c {
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}

.faq-t {
  line-height: 1em;
  color: #aaa; 
  font-family: sans-serif; 
  float:left; 
  font-weight: 700; 
  padding-right: 0.3em; 
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-o {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
}

.faq-q {
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 100;
}

.faq-a {
  clear: both;
  color: #666;
  display: none;
  padding-left: 1.5em;
}


/*** Tambahan ***/

.head-card {
  border-bottom: 1px solid #EEE;
}

.item__image {
  border-bottom: 1px solid #EEE!important;
}

/*
.table-timline {
        margin: 3px;
}
*/

.padding-footer { padding-top: 20px;  } 

/*.table-timline tr > td {
    padding-left: 18px;
    font-size: 16px;
    color: #777;
}*/
 
.table-timline tr > td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 18px;
    font-size: 14px;
    color: #777;
}



.head-timeline {
  padding-bottom: 12px;
}

.date-timeline {
  background-color: #f9f9f9;
}

.poster-card .poster-card__body .poster-card__date { 
    line-height: 13px !important; 
}

.poster-card .poster-card__body .poster-card__venue { 
    line-height: 9px  !important; 
}

.carousel-caption {
    z-index: 999999999999999999999;
    bottom: 3rem;
}

.bordered-dashed {
    border-style: dashed;
    border-color: #c5c5c5;
    border-width: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 

 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  /*background-color: red;*/
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
 /* background-color: #555;*/
}

.pagination .page-item a:hover, .pagination .page-item a:focus {
    color: #2c2c2c;
    background-color: rgba(222, 222, 222, 0.3);
    border: none;
    position: relative;
    display: block;
    text-decoration: none;
}
.pagination .page-item.active > a, .pagination .page-item.active > a:focus, .pagination .page-item.active> a:hover {
    background-color: #888;
    border-color: #888;
    color: #FFFFFF;
}

.pagination .page-item.active>a {
    color: #E3E3E3;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.pagination .page-item a {
    border: 0;
    border-radius: 36px !important;
    transition: all .3s;
    padding: 0px 11px;
    margin: 0 3px;
    min-width: 36px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: #2c2c2c;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
}

.page-item.active a {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    position: relative;
    display: block;
}
.label-author{

  background-color: green;

}
.label-author a{

  color:white;

}
.label-author a:hover{

  color:yellow;
  text-decoration: none;

}

 
div.orgChart div.node {
    width: 158px;
    height: 223px;
}
div.orgChart div.node img {
    margin-top: 4px;
    border: 2px solid black;
    border-radius: 4px;
}
div.orgChart {
    border: 1px solid #fff!important;
    background-color: #fff!important;
    margin: 0px;
    padding: 0px;
}
div.orgChart div.hasChildren {
    background-color: #f96332;
}

 div.orgChart div.node {
    cursor: default;
    border: 1px solid #f96332!important;
}
div.orgChart div.node { 
    border: 1px solid #f96332!important; 
    background-color: #f96332!important;
    border-radius: 1px;
}
div.orgChart div.node img {
    margin-bottom: 8px;
    margin-top: 4px;
    border: 1px solid white;
    border-radius: 1px;
}
div.orgChart h2 {
  color:#FFF;
}

 

/*div.orgChart div.node {
    width: 93px;
    height: 223px;
}*/


  em {
  margin-top: 12px;
}
.page-headerx {
    background-color:rgb(44, 62, 80)!important;
}
.hr-xs {
    margin-bottom: 3px!important;
    margin-top: 5px!important;
}
.bordered-dotted {
    border-style: dotted;
    border-color: #c5c5c5;
    border-width: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:9px!important;
}
.text--medium > h3 {
  font-size: 2em;
  margin-bottom: 5px;
}
.readmore {
  color:#2c3e50;
}
.kategori {
  color:#5e5e5e;
}
 .blefetHover { 
    transition:.4s;
  }
  .blefetHover:hover {
    background-color: #fdfcfc; 
    border-left: 3px solid #f96332;
   transition:-9s;
  }

 .nav-tabsx {
    border: 0;
    padding: 13px 1.7rem;
}

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-right>li {
  margin-left: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/*** CARD METRO ***/

.panel-title > a{
  color:#FFF!important;
  font-size: 16px; 
  text-decoration: none;
}

.alert-red {
    background-color: #f96332!important;
}

.alert-yellow {
  background-color: #f36e42!important;
}

.fa-50px {
  font-size: 50px!important;
}

.wrap-boxmetro { 
    border-left: 4px solid #E91E63;
}

.nav-item > a {
  cursor: pointer;
  text-decoration: none;
}

.body-boxmetro {
  border:1px solid #DDD;
  padding:12px;
  margin-bottom: 12px;
}


/*** Page Header Costume ****/

.profile-page .page-headerxs {
    min-height: 487px!important;
}

.page-headerxs:before {
    background-color: rgba(0, 0, 0, 0)!important;
}

/*** STYLE PAGE DAFTAR BPR ***/

.text-headbpr > h3 {
   font-size: 16px!important;
   padding: 0px!important;
   margin: 2px!important;
}

time {
   font-size: 13px!important; 
}

.form-btn-read {
  font-size: 19px!important; 
}
.text-dexsbpr {
  font-size: 13px;
}
.center-block {
  display: table;
  margin: 0 auto;
}
.page-title-src {
  font-size: 32px;
}
 .blefetHoverxs {
  transition:.4s;
}
 .blefetHoverxs:hover {
       box-shadow: 2px 2px 8px 0px #555;
      background-color: #fdfcfc;
      border-bottom: 4px solid #f96332;
      transition: -9s;
}



/** CSS Paggnition Costume **/
.pagination {
  display: inline-block;
  list-style-type: none;
}

.pagination > li {
  float:left;
  transition: background-color .3s;
}

.pagination > li:hover {
  background-color: #fdca79;
  border:1px solid #EEE;
}

.pagination a {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.active {
  /*border-radius: 47%;*/
  /*background-color: #ffb236; */
} 

.active > a {
  color:white;
}

img {
    vertical-align: middle!important;
}

.frame {   
    position: relative;
}
.frame > img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.framex {   
    /*position: relative;*/
}
.framex > img {  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.fixed-bottom {
    margin-bottom: 0px!important;
    border-top: 2px solid #f96332; 
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.navbar-center {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    margin-top: -3px!important;
}
 
.nav-link {
  padding:0px;
}

 .nav-link > h5 {
    line-height: -0.6em; 
     margin-bottom: 1px; 
     font-size: 11px;
}


div.scrollmenu { 
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
 /* width */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}