 /** Prototype Responsive **/


      @media screen and (max-width: 2545px){
        .carousel {
            height: 508px !important;
            overflow: hidden;
        }
      }

      @media screen and (max-width: 2400px){
        .carousel {
            height: 573px !important;
            overflow: hidden;
        }
      }

       @media screen and (max-width: 1527px){
        .carousel {
               height: 599px !important;
               overflow: hidden;
        }
      }

      @media screen and (max-width: 1440px){
        .carousel {
            height: 572px !important;
            overflow: hidden;
        }
      }

      @media screen and (max-width: 1024px){
        .carousel {
            height: 513px !important;
            overflow: hidden;
        }
      }

       @media screen and (max-width: 768px){
        .carousel {
            height: 452px !important;
            overflow: hidden;
        }
      }

       @media screen and (max-width: 425px){
        .carousel {
            height: 327px !important;
            overflow: hidden;
        }


         .carousel-caption h1 {
          font-size: 23px;

        }

        .carousel-caption {
            top: 111px;
        }
        
      }

       @media screen and (max-width: 375px){
        .carousel {
            height: 337px !important;
            overflow: hidden;
        }

         .carousel-caption h1 {
          font-size: 23px;
        }


      }

       @media screen and (max-width: 320px){
        .carousel {
            height: 339px !important;
            overflow: hidden;
        }

        .carousel-caption h1 {
          font-size: 23px;

        }

        .carousel-caption {
            top: 111px;
        }

      }


       @media screen and (max-width: 220px){
        .carousel {
            height: 339px !important;
            overflow: hidden;
        }
      }



.filter-orange {
      background: rgba(44, 44, 44, 0.2);
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6)); 
}

.overlay-item-layer-orange {
    position: absolute;
    background: rgba(44, 44, 44, 0.2);
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    height: 100%;
    width: 100%;
    color: #fff;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: .4s;
}

.overlay-item-layer {
    position: absolute;
    background-color: rgba(0,0,0,.2);
    height: 100%;
    width: 100%;
    color: #fff;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: .4s;
}

.carousel-caption {
    top: 138px;
}


/** For Column product md 3 **/

  .head-card { 
    /*background-color: #EEE;*/
    padding:0px;
    margin-bottom: 0px;
  }
  
  @media screen and (max-width: 2560px){
    .head-card {
        overflow: hidden;
        height: 246px;
    }
  }

  @media screen and (max-width: 2545px){
    .head-card {
        overflow: hidden;
        height: 508px;
    }
  }

  @media screen and (max-width: 2400px){
    .head-card {
        overflow: hidden;
        height: 241px;
    }
  }

   @media screen and (max-width: 1527px){
  .head-card {
        overflow: hidden;
         height: 240px;
  }
}

  @media screen and (max-width: 1440px){
    .head-card {
        overflow: hidden;
        height: 240px;
    }
  }

  @media screen and (max-width: 1024px){
    .head-card {
        overflow: hidden;
        height: 213px;
    }
  }

   @media screen and (max-width: 768px){
    .head-card {
        overflow: hidden;
        height: 242px;
    }
  }

   @media screen and (max-width: 425px){
    .head-card {
        overflow: hidden;
        height: 252px;
    }
  }

   @media screen and (max-width: 375px){
    .head-card {
        overflow: hidden;
        height: 210px;
    }
  }

   @media screen and (max-width: 320px){
    .head-card {
        overflow: hidden;
        height: 186px;
    }
  }


   @media screen and (max-width: 220px){
    .head-card {
        overflow: hidden;
        height: 100px;
    }
  }


  @media screen and (max-width: 2560px){
     div.orgChart div.node {
          width: 183px!important;
          height: 226px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

  @media screen and (max-width: 2545px){
     div.orgChart div.node {
          width: 183px!important;
          height: 226px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

  @media screen and (max-width: 2400px){
     div.orgChart div.node {
          width: 183px!important;
          height: 226px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

   @media screen and (max-width: 1527px){
     div.orgChart div.node {
          width: 183px!important;
          height: 226px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
}

  @media screen and (max-width: 1440px){
     div.orgChart div.node {
         width: 183px!important;
         height: 226px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

  @media screen and (max-width: 1024px){
      div.orgChart div.node {
          width: 164px!important;
          height: 200px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

   @media screen and (max-width: 768px){
      div.orgChart div.node {
          width: 93px!important;
          height: 152px!important;
      } 
      div.orgChart h2 {
          margin: 0px!important;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

   @media screen and (max-width: 425px){
      div.orgChart div.node {
          width: 93px!important;
          height: 154px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

   @media screen and (max-width: 375px){
      div.orgChart div.node {
          width: 83px!important;
          height: 143px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 11px!important;
          border-bottom: none;
      }
  }

   @media screen and (max-width: 320px){
     div.orgChart div.node {
          width: 65px!important;
          height: 118px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 9px!important;
          border-bottom: none;
      }
  }


   @media screen and (max-width: 220px){
     div.orgChart div.node {
         width: 65px!important;
         height: 118px!important;
      }
      div.orgChart h2 {
          margin: 0px;
          font-size: 9px!important;
          border-bottom: none;
      }
  }