#preloader h2{
    color: #665;
    text-align: center;
    margin-top: 427px;
}
.js{
    position: relative;
}
.js div#preloader { position: absolute; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background:url('http://loading.io/assets/img/ajax.gif') no-repeat center 200px;background-color:rgba(255,255, 255, 0.8);}