.img-prev{
    min-height: 350px;
    padding: 10px;
    border: dashed 2px #ddd;
    margin-top: 10px;
    text-align: center;
    position: relative;
}
.img-prev h1{
    margin-top: 135px;
    color: #ddd;
}
.btn-reset-preview{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0px;
}
#preloader h2{
    color: #665;
    text-align: center;
    margin-top: 427px;
}
.js{
    position: relative;
}
.js div#preloader { position: absolute; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background:url('http://loading.io/assets/img/ajax.gif') no-repeat center 200px;background-color:rgba(255,255, 255, 0.8);}